.container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 40px;
    margin-left: 33%;
}

.slider {
    width: 500px;
    accent-color: black;
}

.main-title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 50px;
}